<!DOCTYPE html>
<html
        xmlns:layout="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.w3.org/1999/xhtml"
        layout:decorate="~{layout}"
        lang="en"
>
<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<head>
    <div layout:fragment="metadata" th:remove="tag">
        <title>Tribonacci Numbers</title>
    </div>
</head>

<body>
<div layout:fragment="content" th:remove="tag">
    `
    <div class="container">
        <div
                class="center-block"
                style="margin: 2% 3% 3%; font-family: gilroy, serif"
        >
            <!-- Title -->
            <div class="col-12" style="text-align: center">
                <h1>
                    <strong>Tribonacci Numbers Generator in 4 Different Ways</strong>
                </h1>
                <h2>
                    For loop, While loop, Recursion, and Dynamic Programming
                </h2>
            </div>

            <div class="jumbotron text-center row">
                <!-- Input -->
                <div class="col-md-6">
                    <h3>Input (Desired Index)</h3>
                    <form id="tribonacciform" action="/tribonacciMain" method="GET">
                        <input
                                name="nth"
                                id="tribonacciNth"
                                type="number"
                                min="0"
                                max="100000"
                        />
                        <button>Evalulate</button>
                    </form>
                    <img class="" width=85% src="https://qph.fs.quoracdn.net/main-qimg-87d10eb33360766d181c498735e1cb3f" alt="">
                </div>
                <!-- Output/Result -->
                <div class="col-md-6">
                    <h3>Algorithm Comparison</h3>
                    <table class="mx-auto">
                        <tr>
                            <th scope="col">Method</th>
                            <th scope="col">Index</th>
                            <th scope="col">Time</th>
                            <th scope="col">Value</th>
                        </tr>
                        <tr th:each="tribonacci: ${tribonacciList}">
                            <td th:text="${tribonacci.getMethod()}"></td>
                            <td th:text="${tribonacci.getIndex()}"></td>
                            <td th:text="${tribonacci.getTime()}"></td>
                            <td th:text="${tribonacci.getValue()}"></td>
                        </tr>
                    </table>
                    <br />
                    <br />
                </div>
                <div>
                    <h3>Tribonacci Numbers</h3>
                        <p>
                            The Tribonacci Sequence is similar to the well-known Fibonacci Sequence, but instead of the first two terms being 0 and 1, the first three terms are 0, 0, and 1. After this, each successive term is defined as the sum of the three terms preceding it.
                        </p>
                </div>

            </div>
            <div class="col-12" style="text-align: left; ">
                <a target="_black" href="https://github.com/raad1masum/AP-CSA-Tri-1-Project/tree/main/src/main/java/com/example/sping_portfolio/controllers/AmanTribonacci">Tribonacci Numbers Generator Code on Github</a>
                <script src="https://emgithub.com/embed.js?target=https://github.com/raad1masum/AP-CSA-Tri-1-Project/blob/main/src/main/java/com/example/sping_portfolio/controllers/PrimeRishi/PrimeAbstract.java%23L1-L35&style=monokai&showBorder=on&showLineNumbers=on&showFileMeta=on&showCopy=on"></script>
                <script src="https://emgithub.com/embed.js?target=https://github.com/raad1masum/AP-CSA-Tri-1-Project/blob/main/src/main/java/com/example/sping_portfolio/controllers/PrimeRishi/PrimeFor.java%23L1-L35&style=monokai&showBorder=on&showLineNumbers=on&showFileMeta=on&showCopy=on"></script>
                <script src="https://emgithub.com/embed.js?target=https://github.com/raad1masum/AP-CSA-Tri-1-Project/blob/main/src/main/java/com/example/sping_portfolio/controllers/PrimeRishi/PrimeWhile.java%23L1-L35&style=monokai&showBorder=on&showLineNumbers=on&showFileMeta=on&showCopy=on"></script>
                <script src="https://emgithub.com/embed.js?target=https://github.com/raad1masum/AP-CSA-Tri-1-Project/blob/main/src/main/java/com/example/sping_portfolio/controllers/PrimeRishi/PrimeSieve.java%23L1-L35&style=monokai&showBorder=on&showLineNumbers=on&showFileMeta=on&showCopy=on"></script>
                <script src="https://emgithub.com/embed.js?target=https://github.com/raad1masum/AP-CSA-Tri-1-Project/blob/main/src/main/java/com/example/sping_portfolio/controllers/PrimeRishi/PrimeRecursion.java%23L1-L35&style=monokai&showBorder=on&showLineNumbers=on&showFileMeta=on&showCopy=on"></script>
            </div>
        </div>
    </div>
    <style>
        table,
        td,
        th {
            border: 1px solid var(--dblue);
        }
        td,
        th {
            padding: 4px;
            text-align: left;
        }
        p {
            text-align: justify;
            font-size: 20px;
        }
    </style>
</div>
`
</body>
</html>
