<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <div layout:fragment="metadata" th:remove="tag">
      <title>. . .</title>
      <link rel="stylesheet" type="text/css" href="/css/nav.css" />
    </div>
  </head>
  <body>
    <!-- Begin navigation fragments -->
    <nav
      class="navbar navbar-expand-lg bg-light"
      th:fragment="header"
      style="z-index: 10"
    >
      <div class="" id="" style="color: orange">
        <a class="" href="/about">About</a>
        <a class="" href="/project">Project</a>
      </div>
    </nav>
    <!-- End navigation fragments -->
  </body>
</html>
