@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --green: #18D860;
}

body {
  background-color: black;
  font-family: 'Poppins', sans-serif;
}

.nav {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.blue {
  color: blue;
}

.title {
  color: white;
  text-align: center;
}

.description {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 35px;
  color: #e2e2e2;
  text-align: center;
  margin-top: 1vh;
}

.question-prompt {
  margin-top: 30px;
  font-size: 30px;
  color: #e2e2e2;
  text-align: center;
}

.question {
  font-size: 25px;
  color: #e2e2e2;
  text-align: center;
}

.wrap {
  width: 900px;
  margin: auto;
  margin-top: 2vh;
}

.main-box {
  align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 30px;
}

.main-box input:nth-child(1) {
  width: 100%;
  height: 75px;
  background: #d1d1d1;
  border-radius: 40px;
  outline: none;
  border: none;
  text-align: center;
  color: #737373;
  font-size: 25px;
}

.main-box textarea {
  width: 100%;
  height: 231px;
  background: #d1d1d1;
  border-radius: 40px;
  outline: none;
  border: none;
  color: #737373;
  font-size: 20px;
  padding: 25px;
  margin: 40px 0 40px 0;
}

.main-box .submit-btn {
  width: 348px;
  height: 67px;
  background: var(--green);
  border-radius: 9000px;
  color: black;
  outline: none;
  border: none;
  font-size: 25px;
}

p {
  text-align: left;
  color: white;
  font-size: 20px;
}

td {
  text-align: left;
  color: white;
  font-size: 20px;
}
