<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
  <!-- Start of head content specific to page -->
  <title>ASCII Art Generator</title>
  <link rel="stylesheet" type="text/css" href="/css/greet.css">
  <!-- End of head content specific to page -->
  <style>
    html {
      background: white;
    }
    body {
      background-color: white;
    }
  </style>
</div></head>

<body><div layout:fragment="content" th:remove="tag">
  <!-- Start of body content specific to page -->
  <div class="contact" style="height: 35vh;">

    <pre th:text="${asciiart}"></pre>

  </div>
  <!-- End of body content specific to page -->
</div></body>

</html>