<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE html>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html
  xmlns:layout="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.w3.org/1999/xhtml"
  layout:decorate="~{layout}"
  lang="en"
>
  <head>
    <div layout:fragment="metadata" th:remove="tag">
      <title>Grid</title>
      <link rel="stylesheet" type="text/css" href="/css/grid.css" />
    </div>
  </head>

  <!-- layout::fragment="content" is heart of ThymeLeaf layout -->
  <body>
    <div layout:fragment="content" th:remove="tag">
      <!-- Start of body content specific to page -->
      <div id="spring_intro" class="articles" style="margin: 30px">
        <h1>Grid yo</h1>
        <div class="container">
          <div class="row">
            <div class="col">Column</div>
            <div class="col">Column</div>
            <div class="col">Column</div>
            <div class="w-100"></div>
            <div class="col">Column</div>
            <div class="col">Column</div>
            <div class="col">Column</div>
            <div class="w-100"></div>
            <div class="col">Column</div>
            <div class="col">Column</div>
            <div class="col">Column</div>
          </div>
        </div>
      </div>

      <!-- End of body content specific to page -->
    </div>
  </body>
</html>
