<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE html>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html
    xmlns:layout="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.w3.org/1999/xhtml"
    layout:decorate="~{layout}"
    lang="en">
    <head>
        <div layout:fragment="metadata" th:remove="tag">
            <title>Project</title>
            <link rel="stylesheet" type="text/css" href="/css/project.css" />
            <link rel="stylesheet" type="text/css" href="/css/nav.css" />
        </div>
    </head>

    <!-- layout::fragment="content" is heart of ThymeLeaf layout -->
    <body>
        <div layout:fragment="content" th:remove="tag">
            <!-- Start of body content specific to page -->
            <div class="nav">
            </div>

            <!-- End of body content specific to page -->
            <br />
            <div class="wrap">
                <div class="main-box">
                    <p class="description">Paste Your Spotify Playlist Link Here:</p>
                    <p class="question"></p>
                    <div class="main-box">
                        <form>
                          <input type="text" placeholder="Playlist Link" /><br />
                         
                        </form>
                    </div>
                        
                    <br />
                    <input class="submit-btn" type="submit" value="Get Stats!"
                        />
                    
                </div>
            </div>
        </div>
    </body>
</html>
