<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <!-- Start of head content specific to page -->
    <title>Loops</title>
    <link rel="stylesheet" type="text/css" href="/css/greet.css">
    <!-- End of head content specific to page -->
</div></head>

<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div class="contact" style="height: 35vh;">
        <div class="calculator-div">
            <form action="/loopsminilab" method="GET" id="calculatorForm">
                <div class="calculator-form">
                    <p>Factorial:</p>
                    <br />
                    <input name="factorialInput" id="calculatorField">
                    <br />
                    <button>Calculate</button>
                    <br />
                    <p th:text="'Answer: ' + ${factorial}"></p>
                </div>
            </form>
        </div>
    </div>
    <div class="contact" style="height: 35vh;">
        <div class="calculator-div">
            <form action="/loopsminilab" method="GET" id="yellowstoneForm">
                <div class="calculator-form">
                    <p>Factorial:</p>
                    <br />
                    <input name="yellowstoneInput" id="yellowstoneField">
                    <br />
                    <button>Calculate</button>
                    <br />
                    <p th:text="'Answer: ' + ${factorial}"></p>
                </div>
            </form>
        </div>
    </div>
    <!-- End of body content specific to page -->
</div></body>

</html>