<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE html>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html
  xmlns:layout="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.w3.org/1999/xhtml"
  layout:decorate="~{layout}"
  lang="en"
>
  <head>
    <div layout:fragment="metadata" th:remove="tag">
      <title>Project</title>
      <link rel="stylesheet" type="text/css" href="/css/project.css" />
      <link rel="stylesheet" type="text/css" href="/css/nav.css" />
    </div>
  </head>

  <!-- layout::fragment="content" is heart of ThymeLeaf layout -->
  <body>
    <div layout:fragment="content" th:remove="tag">
      <!-- <nav class="">
        <div class="nav-list" id="">
          <a class="nav-item" href="/about">About</a>
        </div>
      </nav> -->
      <!-- Start of body content specific to page -->
      <div class="nav">
        <h1 class="title">Del Norte Feedback</h1>
        <!-- <h2 class="navlink">Posts</h2>
        <h2 class="navlink">About</h2> -->
      </div>

      <!-- End of body content specific to page -->
      <br />
      <p class="description">Provide Feedback About Anything Related to DNHS</p>
      <div class="main-box">
        <form>
          <input type="text" placeholder="Subject" /><br />
          <textarea type="text" placeholder="Start typing here!"></textarea
          ><br />
          <input class="submit-btn" type="submit" value="Submit" />
        </form>
      </div>
    </div>
  </body>
</html>
