<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE html>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html
    xmlns:layout="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.w3.org/1999/xhtml"
    layout:decorate="~{layout}"
    lang="en">
    <head>
        <div layout:fragment="metadata" th:remove="tag">
            <title>Project</title>
            <link rel="stylesheet" type="text/css" href="/css/stats.css" />
            <link rel="stylesheet" type="text/css" href="/css/nav.css" />
        </div>
    </head>

    <!-- layout::fragment="content" is heart of ThymeLeaf layout -->
    <body>
        <div layout:fragment="content" th:remove="tag">
            <!-- Start of body content specific to page -->
            <div class="nav">
            </div>

            <!-- End of body content specific to page -->
            <br />
            <div class="wrap">
                <div class="main-box">
                    <p class="description">Playlist Stats:</p>
                    <table style="width:100%">
                      <tr>
                        <td>Name</td>
                        <td><p th:text="${name}"></p></td>
                      </tr>
                      <tr>
                        <td>Link</td>
                        <td><a href="${link}"></a><p class="hover-color"  th:text="${link}"></p></a></td>
                      </tr>
                      <tr>
                        <td>Image</td>
                        <td><img th:src="@{${image}}"></td>
                        <!-- <td><p th:text="${image}"></p></td> -->
                      </tr>
                      <tr>
                        <td>Description</td>
                        <td><p th:text="${description}"></p></td>
                      </tr>
                      <tr>
                        <td>Followers</td>
                        <td><p th:text="${followers}"></p></td>
                      </tr>
                      <tr>
                        <td>Owner</td>
                        <td><p th:text="${owner}"></p></td>
                      </tr>
                      <tr>
                        <td>Song Count</td>
                        <td><p th:text="${songCount}"></p></td>
                      </tr>
                      <tr>
                        <td>Explicit Percentage</td>
                        <td><p th:text="${explicitPercentage}"></p></td>
                      </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
