<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE html>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html
    xmlns:layout="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.w3.org/1999/xhtml"
    layout:decorate="~{layout}"
    lang="en">
    <head>
        <div layout:fragment="metadata" th:remove="tag">
            <title>Project</title>
            <link rel="stylesheet" type="text/css" href="/css/stats.css" />
            <link rel="stylesheet" type="text/css" href="/css/nav.css" />
        </div>
    </head>

    <!-- layout::fragment="content" is heart of ThymeLeaf layout -->
    <body>
        <div layout:fragment="content" th:remove="tag">
            <!-- Start of body content specific to page -->
            <div class="nav">
            </div>

            <!-- End of body content specific to page -->
            <br />
            <div class="wrap">
                <div class="main-box">
                    <p class="description">Playlist Stats:</p>
                    <p th:text="${name}"></p>
                    <p th:text="${link}"></p>
                    <p th:text="${image}"></p>
                    <p th:text="${description}"></p>
                    <p th:text="${followers}"></p>
                    <p th:text="${owner}"></p>
                    <p th:text="${songCount}"></p>
                </div>
            </div>
        </div>
    </body>
</html>
