.greet-content {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 300px;
}

.greet-form {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-top: 100px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(58, 60 ,68, 0.76);
}

.greet-content p  {
    color: white;
    margin: 0;
    font-size: 30px;
}

.greet-content input {
    padding: 5px;
    border-radius: 200px;
    outline: none;
    border: black 2px;
    text-align: center;
}

.greet-content button {
    padding: 3px;
    border-radius: 200px;
    outline: none;
    border: none;
    background-color: #34c4eb;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
